WMS.Webservice/Web References/UDS.CommonWebservice/commonws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllActiveSystem">
        <s:complexType />
      </s:element>
      <s:element name="GetAllActiveSystemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllActiveSystemResult" type="tns:ArrayOfSystems" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSystems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Systems" nillable="true" type="tns:Systems" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Systems">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SystemID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateCreated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateModified" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModifiedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rows" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllActiveSystemSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllActiveSystem" />
  </wsdl:message>
  <wsdl:message name="GetAllActiveSystemSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllActiveSystemResponse" />
  </wsdl:message>
  <wsdl:portType name="CommonWSSoap">
    <wsdl:operation name="GetAllActiveSystem">
      <wsdl:input message="tns:GetAllActiveSystemSoapIn" />
      <wsdl:output message="tns:GetAllActiveSystemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonWSSoap" type="tns:CommonWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllActiveSystem">
      <soap:operation soapAction="http://tempuri.org/GetAllActiveSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonWSSoap12" type="tns:CommonWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllActiveSystem">
      <soap12:operation soapAction="http://tempuri.org/GetAllActiveSystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonWS">
    <wsdl:port name="CommonWSSoap" binding="tns:CommonWSSoap">
      <soap:address location="http://smartsalesweb:8081/dev-uds/webservice/commonws.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonWSSoap12" binding="tns:CommonWSSoap12">
      <soap12:address location="http://smartsalesweb:8081/dev-uds/webservice/commonws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>